

<h1>Avisos</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <p id="notice"><%= notice %></p>
  <ul class="list-group list-group-flush">
    <% @notices.each do |notice| %>
      <li class="list-group-item">
        <%= notice.description %>
        <% if can? :manage, notice %>
          <%= link_to 'Edit', edit_notice_path(notice), class: 'badge badge-pill badge-light' %>
          <%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-pill badge-light'  %>

          <% else%>
          <div class="badge badge-pill badge-primary">
          <%= notice.user.email%>
          </div>

        <% end %>
      </li>
    <% end %>
  </ul>

  </tbody>
</table>

<br>




