<p id="notice"><%= notice %></p>
<h1>Notices</h1>
<table>


  <tbody>
  <ul class="list-group list-group-flush">
    <% @notices.each do |notice| %>
      <% if can? :manage, notice %>
      <li class="list-group-item">
          <%= notice.description %>
          <%= link_to 'Edit', edit_notice_path(notice), class: 'badge badge-pill badge-light' %>
          <%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'badge badge-pill badge-light'  %>
        <% end %>
      </li>
    <% end %>
  </ul>
  </tbody>
</table>
<br>

<%= link_to 'New Notice', new_notice_path %>
